node_modules/
package-lock.json

dist/
release/
*.exe
*.blockmap
*.yml
*.dmg
*.AppImage

logs/
*.log

.DS_Store
Thumbs.db

userData/
*.cache.json

.env
.env.local

.vscode/
.idea/

models/*.onnx
models/*.bin
models/vosk-ru/
models/vosk-en/
